%h1 Mock Server Rules

%p.new-rule= link_to 'New Rule', new_rule_path

%table.rules
  %thead
    %th Precedence
    %th Name
    %th Method
    %th Path
    %th Status
    %th
    %th
    %th
  
  %tbody
    - @rules.each do |rule|
      %tr
        %td= rule.precedence
        %td= link_to rule.name, rule
        %td= rule.method_pattern
        %td= rule.path_pattern
        %td= rule.response_status
        %td= link_to 'edit', edit_rule_path(rule)
        %td= link_to 'destroy', rule, confirm: "Delete rule #{rule.name}?", method: :delete
        %td= link_to 'clear', clear_rule_path(rule, referrer: rules_path), confirm: "Clear hits for #{rule.name}?", method: :post