%h1= "#{@rule.name}"

%p#notice= notice

.rule
  .precedence= "Precedence: #{@rule.precedence}"
  .hits= "Hits: #{@rule.hits.count}"
  .method-pattern= "Method: #{@rule.method_pattern}"
  .path-pattern= "Path: #{@rule.path_pattern}"
  .response-status= "Status: #{@rule.response_status}"
  .delay= "Delay: #{@rule.delay}"
  .edit= link_to 'edit', edit_rule_path(@rule)
  .destroy= link_to 'destroy', @rule, confirm: "Delete rule #{@rule.name}?", method: :delete
  .clear= link_to 'clear', clear_rule_path(@rule), confirm: "Clear hits for #{@rule.name}?", method: :post

- if @rule.hits.empty?
  %p Refresh this page to check for hits matching this rule.
- else
  %ul.hits
    - @rule.hits.order('created_at DESC').each do |hit|
      %li.hit
        %p.time= "Match at #{hit.created_at}"

        %dl.env
          - hit.env.each do |key, value|
            %dt= key
            %dd= value
        
        %pre.body= hit.body