<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rule.name %>
</p>

<p>
  <b>Methd Pattern:</b>
  <%= @rule.method_pattern %>
</p>

<p>
  <b>Path Pattern:</b>
  <%= @rule.path_pattern %>
</p>

<p>
  <b>Precedence:</b>
  <%= @rule.precedence %>
</p>

<p>
  <b>Response text:</b>
  <%= @rule.response_text %>
</p>

<ul>
  <%- @rule.hits.order('created_at DESC').each do |hit| -%>
  <%- puts "HI!" -%>
    <li>
      <pre><%= hit.env.to_s %></pre>
      <pre><%= hit.body %></pre>
    </li>
  <%- end -%>
</ul>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
